server:
  port: 8081

gg:
  jte:
    developmentMode: true
    templateLocation: src/main/resources/jte

spring:
  application:
    name: m-crm

  datasource:
    url: jdbc:postgresql://localhost:5432/crm
    username: postgres
    password: java
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml
    enabled: true
    drop-first: false
